@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="container-fluid">
    <div class="row">
        <h2>@ViewData["Title"]</h2>

    </div>
    <div class="row">
        <h3>@Model.Message</h3>
    </div>
    <div class="row">
        <p>Use this area to provide additional information.</p>
    </div>
    <div class="row">
        <br />
        <br />
        <ul>           
            <li><a href="/Articles/Feed" target="_blank">Suggestions RSS feed</a></li>
        </ul>

    </div>
</div>



