@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <h1>Welcome to Odin Customer Management Module</h1>
    
</div>
<div class="row">
    <h4>Below dates are formatted after the browsers country settings.</h4>
</div>
<div class="row">
    <span data-value="2018-10-17T14:31:02Z" class="timeStampValue"> 2018-10-17T14:31:02Z</span>
</div>
<div class="row">
    <span data-value="2018-10-17T14:31:02Z" class="timeStampValueL"> 2018-10-17T14:31:02Z</span>
</div>
